@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
}

header h2 {
    padding: 2rem;
}

#logo {
    text-decoration: none;
    color: #000;
}

.search-form {
    padding: 2rem;
    display: flex;
}

.search-form input {
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    border: 2px solid rgb(46, 11, 112);
}

.search-form button {
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    background: rgb(46, 11, 112);
    color: #fff;
    cursor: pointer;
}

.gallery-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(111, 112, 114);
    padding: 0.2rem 0rem;
}

.gallery-info a {
    color: rgb(111, 112, 114);
    text-decoration: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 2rem 0rem;
    width: 80%;
    margin: auto;
    row-gap: 5rem;
    column-gap: 3rem;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-btn {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more {
    padding: 1rem 3rem;
    background: rgb(46, 11, 112);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}